<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Manager ID: <%=@created_by%></title>
</head>
<body>
    <table>
        <tr>
        </tr>
        <tr>
            <td>
                <p>Morning/Afternoon/Evening</p>
                
                <p>
                    You've been assigned: <%=@title%><br>
                    Created: <%=@created_at%><br>
                    Description: <%=description%> <br>
                    For: <%=estimated_effort%> : Days <br>  
                    Due Date: <%=due_date%> <br>
                    Labels: <%=labels%> <br>
                </p>
            </td>
        </tr>
    </table>
</body>
</html> -->